<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Menu</a></li>
    <li class="breadcrumb-item active">
      Aparelhos
    </li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Aparelhos
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="novo" class="btn btn-success float-right">
      + Novo Aparelho
    </a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <td>Aparelhos</td>
      <td>Ações</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Aparelhos</td>
      <td>
        <button class="btn btn-outline-info btn-sm">Editar</button>
      </td>
    </tr>
    <tr>
      <td>Aparelhos 2</td>
      <td>
        <button class="btn btn-outline-info btn-sm">Editar</button>
      </td>
    </tr>
  </tbody>
</table>
