<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Menu</a></li>
    <li class="breadcrumb-item active">
      Aparelhos
    </li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h4 class="h4 border-left pl-2">
      Todos os Aparelhos
    </h4>
  </div>
  <div class="col-md">
    <a routerLink="novo" class="btn btn-success float-right btn-sm">
      + Novo Aparelho
    </a>
  </div>
</div>

<table class="table table-hover table-sm">
  <thead>
    <tr class="bg-primary text-light">
      <td>Aparelhos</td>
      <td style="text-align: center;">Ações</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of aparelhos" >
      <td>{{item.aparelhoId}} - {{item.descricao}}</td>
      <td style="text-align: center;">
        <button (click)="deleteAparelho(item)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
